@font-face {
  font-family: 'Play';
  font-weight: 400;
  src:
        url('../fonts/Play/Play-Regular.woff2') format('woff2'),
        url('../fonts/Play/Play-Regular.woff') format('woff'),
        url('../fonts/Play/Play-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Play';
  font-weight: 700;
  src:
        url('../fonts/Play/Play-Bold.woff2') format('woff2'),
        url('../fonts/Play/Play-Bold.woff') format('woff'),
        url('../fonts/Play/Play-Bold.ttf') format('ttf');
}
